@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&family=Open+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cor1: #2F2E41;
  --cor2: #00BFA6;
  --cor3: #C2C2C2;
  --cor4: #FFF;
  --fontpadrao: 'JetBrains Mono', monospace;
  --fonttxt: 'Open Sans', sans-serif;
}

body {
  min-height: 100vh;
}